body{
    display: flex;
    height: 100svh;
    justify-content: center;
    align-items: center;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    flex-wrap: nowrap;
}

.settings * {
  width: 75%;
}
#gridWrapper {
  display: flex;
  width: 30vw;
  height: 30vw;
  border: 2px solid black

}
#column {
  flex: 1;
}
