body{
    display: flex;
    height: 100svh;
    justify-content: center;
    align-items: center;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    flex-wrap: nowrap;
}

.settings * {
  width: 75%;
}

.gridSizeSettings{
  width: 100%;
  text-align: center;
  touch-action: auto;
}

#gridSize{
  margin-top: 5px;

}
#gridWrapper {
  display: flex;
  width: 30svw;
  height: 30vw;
  border: 2px solid black

}
#column {
  flex: 1;
}

button, #colorPicker{
  border-radius: 5px;
}
.btn-on {
  background-color: rgb(92, 174, 206);
}
